<article>
  <h2><%= @plugin.url %></h2>
  <dl>
    <dt>Url</dt>
    <dd><%= link_to complement_plugin_url(@plugin.url), complement_plugin_url(@plugin.url) %></dd>
    <dt>The Number Of Users</dt>
    <dd><%= @using_users.size %></dd>
    <dt>Install&nbsp;<span style="font-size: 80%; color: #777">(via plugin manager)</span></dt>
    <dd>
      <pre>Bundle '<%= @plugin.url %>'<br />NeoBundle '<%= @plugin.url %>'</pre>
    </dd>
  </dl>

  <table>
    <% @using_users.each do |user| %>
    <tr>
      <td><%= link_to image_tag(gravatar_url user.id), "/#{user.username}" %></td>
      <td><%= link_to user.username, "/#{user.username}" %></td>
      <td><%= user.updated_at.strftime("%Y-%m-%d") %></td>
    <% end %>
    </tr>
  </table>
</article>

<div style="margin: 30px 0">
  <%= link_to 'Back', plugins_path %>
</div>
