<article>
  <h2><%= @plugin.url %></h2>
  <dl>
    <dt>Url</dt>
    <dd><%= link_to complement_plugin_url(@plugin.url), complement_plugin_url(@plugin.url) %></dd>
    <dt>The number of users</dt>
    <dd><%= @plugin.user_plugins.size %></dd>
  </dl>

  <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @using_users.each do |user| %>
    <tr>
      <td><%= link_to image_tag(gravatar_url user.id), "/#{user.username}" %></td>
      <td><%= link_to user.username, "/#{user.username}" %></td>
      <td><%= user.updated_at.strftime("%Y-%m-%d") %></td>
    <% end %>
    </tr>
  </table>
</article>

<div style="margin: 30px 0">
  <%= link_to 'Back', plugins_path %>
</div>
