<h2>Users</h2>

<article>
  <dl>
    <dt>registered users</dt>
    <dd><%= User.all.size %></dd>
    <dt>registered vimrcs</dt>
    <dd><%= @vimrcs.size %></dd>
  </dl>
  <section>
    <table>
      <tr>
        <th></th>
        <th>username</th>
        <th>member since</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to image_tag(user.gravatar_url(size: 50, default: current_url + "/assets/vimpushergirl_default_icon.gif")), "/#{user.username}" %></td>
          <td><%= link_to user.username, "/#{user.username}" %></td>
          <td><%= user.created_at.to_date %></td>
        </tr>
      <% end %>
    </table>
  </section>
  <%= paginate @users %>
</article>
