<h1>Users#new</h1>
<%= form_for @user do |f| %>
  <%= render "shared/error_messages", :target => @user %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <p>Your public profile: <%= current_url %>/[Username]</p>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
    <p>
    No spam, no unnecessary newsletters, always private.<br />
    </p>
  </div>
  <div class="actions"><%= f.submit "Create User" %></div>
<% end %>
